.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 108px;
    padding-right: 108px;
}

.TextBox {
    display: flex;
    align-items: flex-start;
    gap: 24.023px;
    color: #FFFFFFCC;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}

.Icon {
    width: 100%;
    height: auto;
    max-width: 180px;
    max-height: 85px;
    flex-shrink: 1; 
}

.ThirdBox {
    transform: scale(0.8);
    display: flex;
    width: 230.689px;
    align-items: center;
    gap: 28.836px;
    flex-shrink: 0;
}